* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-text-black: #1a1a1a;
  --color-gray: #fafafa;
  --color-backgroud-dark: #0e141b;
  --color-gray-light: #182635;
  --color-blue: #00d8ff;
  --color-blue-light: #c9e4f5;
  --color-orange: #f05123;
  --color-pink: #e84e89;

  --header-height: 6.6rem;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  font-size: 1.6rem;
}

body.light {
  --color-text: #000;
  --color-text-sub: #757575;
  --color-text-hover: var(--color-pink);
  --color-background: var(--color-white);
  --color-background-sub: var(--color-white);
  --color-header-border: #f0f0f0;
  --color-nav-hover: #e8ebed;
  --color-bg-footer: var(--color-gray);
  --color-bg-header: var(--color-white);
  --color-skeleton: #ebebeb;
}

body.dark {
  --color-text: #fff;
  --color-text-sub: #92abcf;
  --color-text-hover: #11ece5;
  --color-background: #04070b;
  --color-background-sub: #0f1724;
  --color-header-border: #4e6a9250;
  --color-header-shadow: #4e6a9250;
  --color-nav-hover: #0f1724;
  --color-nav-active: #11ece5;
  --color-bg-footer: #04070b;
  --color-bg-header: #04070b;
  --color-skeleton: #0f1724;
  --color-skeleton-animation: #4e6a9250;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.section__heading {
  font-size: 2.8rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
}

.loading__title {
  max-width: 30rem;
  border-radius: 0.8rem;
  color: var(--color-text);
}

.message {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2.2rem;
  color: var(--color-text-sub);
}

@media (max-width: 767px) {
  .section__heading {
    font-size: 2.2rem;
  }
}
